<?xml version="1.0"?>
<!--
/**
 * Dangs.
 *
 * @category  Dangs
 * @package   Dangs_Hideprice
 * @author    dangs.work@gmail.com
 * @copyright Copyright (c) 
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
   <module name="Dangs_Hideprice" setup_version="1.0.0" schema_version="1.0.0"/>
</config>